.cell {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.85);
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 0.5px;
}

/* .cell-unvisited {
    animation-name: unvisited;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
} */

.cell-start {
    background-color: limegreen;
}

.cell-finish {
    background-color: red;
}

.cell-midpoint {
    background-color: palevioletred;
}

.cell-wall {
    background-color: black;
    animation-name: wall;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.cell-visited-0 {
    background-color: deepskyblue;
    /* opacity: 20%; */
}

.cell-visited-1 {
    background-color: magenta;
    /* opacity: 20%; */
}

.cell-visited-overlap {
    background-color: pink;
    /* opacity: 20%; */
}

.cell-shortestPath {
    background-color: yellow;
    /* opacity: 20%; */
}

.cell-visited-midpoint {
    background-color: purple;
    /* opacity: 20%; */
}

.cell-shortestPath-midpoint {
    background-color: orange;
    /* opacity: 20%; */
}

.grid {
    border: 0.5px solid #36454f;
    margin-top: 10vh;
    display: inline-block;
    height: auto;
    width: auto;
    background-color: #36454f;
}

.app {
    text-align: center;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /* cursor: default; */
}

.navbar {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: lightblue;
}

@keyframes wall {
    0% {
        transform: scale(1.6);
    }
    /*50% {transform: scale(); }*/
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unvisited {
    0% {
        transform: scale(0.9);
    }
    /*50% {transform: scale(); }*/
    75% {
        transform: scale(1);
    }
}
