.cell {
    background-color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 0.5px;
}

.cell-start {
    background-color: green;
}

.cell-finish {
    background-color: mediumpurple;
}

.cell-wall {
    background-color: black;
}

.grid {
    border: 0.5px solid black;
    margin-top: 10%;
    display:inline-block;
    height: auto;
    width: auto;
    background-color: black;
}

.app {
    text-align: center;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}