html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cell {
    background-color: white;
    border-color: #b2c9e3;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 0.5px;
}

.cell-start {
    /* margin: 0px;
    width: 25px;
    height: 25px; */
    background-color: limegreen;
}

.cell-finish {
    /* margin: 0px; */
    /* width: 25px;
    height: 25px; */
    background-color: red;
}

.cell-midpoint {
    background-color: palevioletred;
}

.cell-wall {
    /* margin: 0px; */
    width: 25px;
    height: 25px;
    background-color: #1a1a1a;
    animation-name: wall;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.cell-visited-0 {
    background-color: deepskyblue;
    /* opacity: 20%; */
}

.cell-visited-1 {
    background-color: magenta;
    /* opacity: 20%; */
}

.cell-visited-overlap {
    background-color: pink;
    /* opacity: 20%; */
}

.cell-shortestPath {
    background-color: yellow;
    /* opacity: 20%; */
}

.cell-visited-midpoint {
    background-color: purple;
    /* opacity: 20%; */
}

.cell-shortestPath-midpoint {
    background-color: orange;
    /* opacity: 20%; */
}

.grid {
    /* border: 0.5px solid #b2c9e3; */
    /* border-right: 0.05px solid #b2c9e3;
    border-bottom: 0.05px solid #b2c9e3; */
    /* margin: 1px; */
    margin-top: 5vh;
    display: inline-block;
    height: auto;
    width: auto;
    background-color: #b2c9e3;
}

.app {
    text-align: center;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /* cursor: default; */
}

.navbar {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: lightblue;
}

@keyframes wall {
    0% {
        transform: scale(1.6);
    }
    /*50% {transform: scale(); }*/
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unvisited {
    0% {
        transform: scale(0.9);
    }
    /*50% {transform: scale(); }*/
    75% {
        transform: scale(1);
    }
}
