html,
body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.cell {
    padding-bottom: 0.5px;
    padding-right: 0.5px;
    background-color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin: 0.5px;
}

.cell-start {
    margin: 0.5px;
    background: url(images/start3.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-color: greenyellow;
}

.cell-finish {
    margin: 0.5px;
    background: url(images/finish4.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-color: pink;
}

.cell-midpoint {
    margin: 0.5px;
    background: url(images/midpoint2.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-color: orange;
}

.cell-wall {
    margin: 0px;
    width: 26px;
    height: 26px;
    background-color: #1a1a1a;
    animation-name: wall;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.cell-visited-0 {
    background-color: deepskyblue;
    /* opacity: 20%; */
}

.cell-visited-1 {
    background-color: magenta;
    /* opacity: 20%; */
}

.cell-visited-overlap {
    background-color: pink;
    /* opacity: 20%; */
}

.cell-shortestPath {
    margin: 0px;
    width: 26px;
    height: 26px;
    background-color: yellow;
    /* opacity: 20%; */
}

.cell-visited-midpoint {
    background-color: purple;
    /* opacity: 20%; */
}

.cell-shortestPath-midpoint {
    background-color: orange;
    /* opacity: 20%; */
}

.grid {
    /* border: 0.5px solid #b2c9e3; */
    /* border-right: 0.05px solid #b2c9e3;
    border-bottom: 0.05px solid #b2c9e3; */
    /* margin: 1px; */
    /* margin-top: 5vh; */
    display: inline-block;
    margin-top: 3.5vh;
    height: auto;
    width: auto;
    background-color: #b2c9e3;
}

.app {
    text-align: center;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    /* cursor: default; */
}

/* .navbar {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: lightblue;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

@keyframes wall {
    0% {
        transform: scale(1.6);
    }
    /*50% {transform: scale(); }*/
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unvisited {
    0% {
        transform: scale(0.9);
    }
    /*50% {transform: scale(); }*/
    75% {
        transform: scale(1);
    }
}
